@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form method="post" asp-controller="user" asp-action="register">
    <div>
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input type="password" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <input type="submit" value="Register" />
</form>