@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}

<h2>National Parks</h2>

<div class="park-list">
    @foreach (Park park in Model)
    {
    <div class="park">
        <a asp-controller="home" asp-action="detail" asp-route-parkCode="@park.ParkCode">
            <img class="park-image" src="~/images/parks/@(park.ParkCode).jpg" />           
        </a>
        <div class="name-description">
            <a asp-controller="home" asp-action="detail">
                <h1 class="park-name">@park.ParkName <span class="park-state">in @park.State</span></h1>
            </a>
            <p class="park-description">@park.Description</p>
        </div>
     
    </div>
    }
</div>
