.park-list {
    display: flex;
    flex-direction: column;
}

.park {
    display: flex;
}

.name-description {
    display: flex;
    flex-direction: column;
}

.park-name, .park-state {
    text-decoration: none;
}

.header{
    width: 100%;
    height: auto;
}

.forecast {
    display: flex;
    justify-content: space-around;
}

.forecast-day {
    border: 1px solid black;
    background-color: skyblue;
    width: 18%;
    text-align: center;
}

.forecast-day img{
    width: 100%;
}

.forecast-day .warning {
    color: firebrick;
    font-weight: bolder;
}

.forecast-day .temps {
    display: flex;
    justify-content: space-around;
}

.park-info {
    display: flex;
    justify-content: space-around;
}

.detail-image {
    width: 50%;
    height: auto;
}

.detail-page {
    display: flex;
    flex-direction: column;
    margin: 1em;
    align-items: center;
}

.header img {
    width: 30%;
    height: auto;
}

